### Importing the dependencies

In [8]:
import numpy as np
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score

### Data Collection and Pre-Processing

In [9]:
# loading the data from csv file to a pandas dataframe

raw_mail_data = pd.read_csv('mail_data.csv')

In [10]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [11]:
# replace the null values with a null string

mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)), '')

In [12]:
# printing the first 5 rows of the dataframe

mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
# checking the number of rows and columns in the dataframe

mail_data.shape

(5572, 2)

### Label Encoding

In [14]:
# label spam mail as 1; ham (non-spam) mail as 0

mail_data.loc[mail_data['Category'] == 'spam', 'Category'] = 1
mail_data.loc[mail_data['Category'] == 'ham', 'Category'] = 0

### Spam = 1; Ham = 0

In [15]:
# separating the data as texts and labels

X = mail_data['Message']
Y = mail_data['Category']

In [16]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [17]:
print(Y)

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: object

### Splitting the data into training data and test data

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 3)

In [19]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

### Feature Extraction

In [20]:
# transform the text data to feature vectors that can be used as input to the logistic regression

feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase = 'True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [21]:
X_train_features

<4457x7431 sparse matrix of type '<class 'numpy.float64'>'
	with 34775 stored elements in Compressed Sparse Row format>

In [22]:
print(X_train_features)

  (0, 5413)	0.6198254967574347
  (0, 4456)	0.4168658090846482
  (0, 2224)	0.413103377943378
  (0, 3811)	0.34780165336891333
  (0, 2329)	0.38783870336935383
  (1, 4080)	0.18880584110891163
  (1, 3185)	0.29694482957694585
  (1, 3325)	0.31610586766078863
  (1, 2957)	0.3398297002864083
  (1, 2746)	0.3398297002864083
  (1, 918)	0.22871581159877646
  (1, 1839)	0.2784903590561455
  (1, 2758)	0.3226407885943799
  (1, 2956)	0.33036995955537024
  (1, 1991)	0.33036995955537024
  (1, 3046)	0.2503712792613518
  (1, 3811)	0.17419952275504033
  (2, 407)	0.509272536051008
  (2, 3156)	0.4107239318312698
  (2, 2404)	0.45287711070606745
  (2, 6601)	0.6056811524587518
  (3, 2870)	0.5864269879324768
  (3, 7414)	0.8100020912469564
  (4, 50)	0.23633754072626942
  (4, 5497)	0.15743785051118356
  :	:
  (4454, 4602)	0.2669765732445391
  (4454, 3142)	0.32014451677763156
  (4455, 2247)	0.37052851863170466
  (4455, 2469)	0.35441545511837946
  (4455, 5646)	0.33545678464631296
  (4455, 6810)	0.29731757715898277
  (4455, 6091)	0.23103841516927642
  (4455, 7113)	0.30536590342067704
  (4455, 3872)	0.3108911491788658
  (4455, 4715)	0.30714144758811196
  (4455, 6916)	0.19636985317119715
  (4455, 3922)	0.31287563163368587
  (4455, 4456)	0.24920025316220423
  (4456, 141)	0.292943737785358
  (4456, 647)	0.30133182431707617
  (4456, 6311)	0.30133182431707617
  (4456, 5569)	0.4619395404299172
  (4456, 6028)	0.21034888000987115
  (4456, 7154)	0.24083218452280053
  (4456, 7150)	0.3677554681447669
  (4456, 6249)	0.17573831794959716
  (4456, 6307)	0.2752760476857975
  (4456, 334)	0.2220077711654938
  (4456, 5778)	0.16243064490100795
  (4456, 2870)	0.31523196273113385

### Training the Logistic Regression Model

In [23]:
model = LogisticRegression()

In [24]:
# training the model with training data

model.fit(X_train_features, Y_train)

LogisticRegression()

### Evaluating the trained model

In [25]:
# prediction on training data

prediction_train = model.predict(X_train_features)
accuracy_train = accuracy_score(Y_train, prediction_train)

In [26]:
print('Accuracy on training data: ', accuracy_train)

Accuracy on training data:  0.9670181736594121

In [27]:
# prediction on test data

prediction_test = model.predict(X_test_features)
accuracy_test = accuracy_score(Y_test, prediction_test)

In [28]:
print('Accuracy on test data: ', accuracy_test)

Accuracy on test data:  0.9659192825112107

In [29]:
# f1 scores

print(f1_score(Y_test, prediction_test))
print(f1_score(Y_test, prediction_test, average=None, labels=[1, 0]))

0.8602941176470589
[0.86029412 0.98059244]

### Building a Predictive System

In [30]:
input_mail = ["500 New Mobiles from 2004, MUST GO! Txt: NOKIA to No: 89545 & collect yours today!From ONLY £1 www.4-tc.biz 2optout 087187262701.50gbp/mtmsg18", 
              'Tried calling you several times but your phone was busy. Please call me back asap']

In [31]:
Y_test.iloc[13]

1

In [32]:
X_test.iloc[13]

'Todays Vodafone numbers ending with 4882 are selected to a receive a £350 award. If your number matches call 09064019014 to receive your £350 award.'

In [33]:
# converting text to feature vectors

input_mail_features = feature_extraction.transform([X_test.iloc[13], input_mail[0], input_mail[1]])

# making prediction

prediction = model.predict(input_mail_features)
pred = []

for val in prediction:
    if val == 1:
        pred.append('Spam')
    else:
        pred.append('Ham')

print(pred)

['Spam', 'Spam', 'Ham']

### Saving the model

Save Model

In [34]:
with open('spam_classifier.pkl', 'wb') as f:
    pickle.dump(model, f)

Load Model

In [35]:
with open('spam_classifier.pkl', 'rb') as f:
    loaded_model = pickle.load(f)